%h1 Rejestracja
= simple_form_for @user do |f|
  = f.input :email, label: "Email", required: true
  = f.input :password, label: "Hasło", required: true
  = f.input :password_confirmation, label: "Potwierdź hasło", required: true
  = f.button :submit, "Załóż konto", class: "btn-primary"
